In [77]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt # plotting data

In [78]:
# Load individual date data from US county cases
m3_22_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-22-2020.csv')
m3_23_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv')
m3_24_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv')
m3_25_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv')
m3_26_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv')
m3_27_2020 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv')

In [79]:
m3_22_2020.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US"
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US"
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US"

In [80]:
# Extracting California county cases on March 22
m3_22_2020 = m3_22_2020.iloc[97:137, np.r_[1:3, 7:11]]
m3_22_2020 = m3_22_2020.sort_values('Admin2')
m3_22_2020

              Admin2 Province_State  Confirmed  Deaths  Recovered  Active
103          Alameda     California         71       0          0       0
133           Amador     California          1       0          0       0
135            Butte     California          1       0          0       0
127        Calaveras     California          2       0          0       0
104     Contra Costa     California         61       1          0       0
120           Fresno     California          6       0          0       0
126         Humboldt     California          2       0          0       0
121         Imperial     California          6       0          0       0
124             Kern     California          5       0          0       0
97       Los Angeles     California        407       5          0       0
125           Madera     California          3       0          0       0
106            Marin     California         38       0          0       0
132        Mendocino     California          1       0          0       0
134             Mono     California          1       0          0       0
118         Monterey     California         11       1          0       0
136             Napa     California          1       0          0       0
131           Nevada     California          1       0          0       0
102           Orange     California         95       0          0       0
116           Placer     California         12       1          0       0
108        Riverside     California         29       6          0       0
105       Sacramento     California         53       3          0       0
122       San Benito     California          5       1          0       0
112   San Bernardino     California         17       0          0       0
99         San Diego     California        155       0          0       0
101    San Francisco     California        108       0          0       0
107      San Joaquin     California         31       2          0       0
109  San Luis Obispo     California         27       0          0       0
100        San Mateo     California        117       1          0       0
115    Santa Barbara     California         13       0          0       0
98       Santa Clara     California        263       8          0       0
113       Santa Cruz     California         15       0          0       0
130           Shasta     California          1       0          0       0
128         Siskiyou     California          2       0          0       0
114           Solano     California         13       0          0       0
111           Sonoma     California         22       1          0       0
123       Stanislaus     California          5       0          0       0
117           Tulare     California         12       0          0       0
110          Ventura     California         25       0          0       0
119             Yolo     California          6       0          0       0
129             Yuba     California          2       0          0       0

In [81]:
# Extract the  columns that have information on California county cases
m3_23_2020= m3_23_2020.loc[m3_23_2020['Province_State'] == 'California']
m3_23_2020 = m3_23_2020[['Admin2', 'Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

m3_24_2020= m3_24_2020.loc[m3_24_2020['Province_State'] == 'California']
m3_24_2020 = m3_24_2020[['Admin2', 'Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

m3_25_2020= m3_25_2020.loc[m3_25_2020['Province_State'] == 'California']
m3_25_2020 = m3_25_2020[['Admin2', 'Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

m3_26_2020= m3_26_2020.loc[m3_26_2020['Province_State'] == 'California']
m3_26_2020 = m3_26_2020[['Admin2', 'Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

m3_27_2020= m3_27_2020.loc[m3_27_2020['Province_State'] == 'California']
m3_27_2020 = m3_27_2020[['Admin2', 'Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

In [82]:
m3_27_2020

               Admin2 Province_State  Confirmed  Deaths  Recovered  Active
25            Alameda     California        118       1          0       0
53             Alpine     California          0       0          0       0
54             Amador     California          1       0          0       0
330             Butte     California          2       0          0       0
339         Calaveras     California          2       0          0       0
615            Colusa     California          0       0          0       0
624      Contra Costa     California         71       1          0       0
756         Del Norte     California          0       0          0       0
858         El Dorado     California          2       0          0       0
991            Fresno     California          6       0          0       0
1052            Glenn     California          0       0          0       0
1318         Humboldt     California          2       0          0       0
1337         Imperial     California          6       0          0       0
1342             Inyo     California          0       0          0       0
1495             Kern     California         12       0          0       0
1512            Kings     California          0       0          0       0
1562             Lake     California          0       0          0       0
1597           Lassen     California          0       0          0       0
1717      Los Angeles     California        536       7          0       0
1754           Madera     California          3       0          0       0
1790            Marin     California         38       0          0       0
1809         Mariposa     California          0       0          0       0
1893        Mendocino     California          1       0          0       0
1897           Merced     California          1       0          0       0
1949            Modoc     California          0       0          0       0
1954             Mono     California          1       0          0       0
1976         Monterey     California         14       1          0       0
2043             Napa     California          2       0          0       0
2060           Nevada     California          2       0          0       0
2143           Orange     California        125       0          0       0
2288           Placer     California         12       1          0       0
2294           Plumas     California          0       0          0       0
2440        Riverside     California         46       6          0       0
2491       Sacramento     California         88       4          0       0
2506       San Benito     California          6       1          0       0
2507   San Bernardino     California         17       0          0       0
2508        San Diego     California        201       1          0       0
2509    San Francisco     California        131       0          0       0
2511      San Joaquin     California         41       2          0       0
2516  San Luis Obispo     California         27       0          0       0
2517        San Mateo     California        142       1          0       0
2529    Santa Barbara     California         18       0          0       0
2530      Santa Clara     California        302      10          0       0
2532       Santa Cruz     California         22       0          0       0
2588           Shasta     California          2       0          0       0
2615           Sierra     California          0       0          0       0
2623         Siskiyou     California          2       0          0       0
2637           Solano     California         14       0          0       0
2643           Sonoma     California         29       1          0       0
2681       Stanislaus     California          8       0          0       0
2747           Sutter     California          0       0          0       0
2778           Tehama     California          0       0          0       0
2831          Trinity     California          0       0          0       0
2838           Tulare     California         16       0          0       0
2841         Tuolumne     California          0       0          0       0
2918          Ventura     California         30       1          0       0
3158             Yolo     California          6       1          0       0
3165             Yuba     California          3       0          0       0